<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      PushApp
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="borrarMensajes()" color="danger" slot="icon-only" name="trash">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>
        <ion-label>UsserID</ion-label>
  </ion-list-header>

  <ion-list-header>
      <ion-label>{{pushService.userId}}</ion-label>
  </ion-list-header>

  <ion-list-header>
    <ion-label>Pushes</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let push of mensajes">
    <ion-label>
      <h3>{{push.title}}</h3>
      <p>{{push.body}}</p>
      <p>
        {{push.additionalData | json }}
      </p>
    </ion-label>
  </ion-item>
</ion-content>
